html,
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

.app-wrapper {
	
	background: $light-bg;
	color: $dark-bg;

	&.dark {
		color: white;
		background: $dark-bg;
	}

	.app-container {
		min-width: 320px;
		max-width: 500px;
		margin: 0 auto;
	}

}