.dark-mode {

    position: fixed;
    top: calc(50vh + 130px);
    left: 0;
    width: 100%;
    text-align: center;

    input[type="checkbox"] {
        display: none;
    }

    .toggle {

        display: inline-block;
        position: relative;
        width: 35px;
        margin-left: 3px;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid white;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            background: $dark-bg;
            bottom: -3px;
            left: 0;
            transition: background .3s, left .3s;
        }

        &::before {
            width: 30px;
            background: gray
        }

    }

    input[type='checkbox']:checked + .toggle {

        &::before {
            background: green;
        }

        &::after {
            background: white;
            left: 15px
        }

    }

    audio {
        display: none;
    }

    label.delay-arrow-label {
        display: block;
        margin-top: 30px;
        color: $gray;
        font-size: 0.85rem;

        div.delay-arrow-input-wrapper {
            display: inline-flex;
            border: 1px solid darken($gray, 30);
            border-radius: 3px;
            overflow: hidden;
            align-items: baseline;
            margin: 0 2px;
        }

        span.ms {
            background: lighten($gray, 30);
            color: $dark-bg;
            padding: 0 2px;
        }
    }
    
    input.delay-arrow {
        max-width: 60px;
        height: 1rem;
        line-height: 1rem;
        border: 0;
        padding: 1px 2px 1px 5px;
        background: transparent;
        color: lighten($gray, 30);
        display: inline-block;
    }

}