.stopwatch {
	text-align: center;
	height: $stopwatch-height;
	display: grid;
	align-items: center;
	justify-items: center;
	font-size: 6rem;

	button {
		border: 0;
		border-radius: 10px;
		padding: 2px 7px;
	}
}